{% extends 'main.html' %}
<style>
    .form-container, .link-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
</style>
{% block content %}

<div class="form-container">
    <form method="POST" action="">
        {% csrf_token %}

        {% for field in form %}
        <br>
        <div>
            <label>{{field.label}}</label>
            {{field}}
        </div>
        <br>
        {% endfor %}

        <a href="{% url 'update-user' %}">Back</a>

        <button type="submit">Update</button>
    </form>
    

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>



{% endblock content %}